<a href="https://colab.research.google.com/github/meyrele/Master-Jornalismo-de-Dados/blob/main/ML_Jornalismo_Aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning para Jornalistas - Aula 4
Nessa aula vamos nos aprofundar nos problemas de CLASSIFICAÇÃO e utilizar a base de dados sobre qualidade de vinhos como exemplo. A base de dados pode ser baixada aqui: https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009

In [ ]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

Importando os Dados

In [ ]:
base_wine = pd.read_csv("winequality-red.csv",sep=',')

Explorando a base de dados

In [ ]:
base_wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [ ]:
base_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
base_wine.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
base_wine.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

Analisando a variável resposta - Qualidade do Vinho

In [ ]:
base_wine.quality.value_counts().sort_index()

3     10
4     53
5    681
6    638
7    199
8     18
Name: quality, dtype: int64

Definindo apenas duas classes - Bom e Não Bom

In [ ]:
base_wine.quality = [1 if each >= 7 else 0 for each in base_wine.quality]

base_wine.quality.value_counts()

Agora, vamos explorar a relação das variáveis explicativas com a nossa variável resposta.
Primeiramente vamos usar um comando que vai plotar todas as relações entre as variáveis 2 a 2. (esse comendo pode demorar um pouco para rodar, pois é computacionalmente pesado)

In [ ]:
sns.pairplot(base_wine)

Para uma visualização mais detalhada, podemos análisar a relação entra a variável resposta (qualidade) e cada uma das variáveis explicativas.

In [ ]:
sns.barplot(x = 'quality', y = 'alcohol', data = base_wine)

O boxplot é um gráfico denso, mas que carrega muitas informações de maneira visual.

In [ ]:
sns.boxplot('quality', 'alcohol', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'fixed acidity', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'volatile acidity', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'citric acid', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'residual sugar', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'chlorides', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'free sulfur dioxide', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'total sulfur dioxide', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'density', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'pH', data = base_wine)

In [ ]:
sns.barplot(x = 'quality', y = 'sulphates', data = base_wine)

Contruindo o modelo 1 - K-NN

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree

Separando a nossa variavel resposta (y - qualidade) das variáveis explicativas (x)

In [ ]:
y = base_wine.quality
x = base_wine.drop("quality", axis = 'columns')

In [ ]:
y.head()

In [ ]:
x.head()

Definindo bases de treino e de teste (validação)

In [ ]:
test_size = 0.20
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = test_size)

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
y_pred = knn.predict(X_test)
cm = confusion_matrix(Y_test, y_pred)
print(cm)

In [ ]:
acc = accuracy_score(Y_test, y_pred)
print("KNeighborsClassifier Acc : ", acc)

In [ ]:
X_test.head()

In [ ]:
print(y_pred)

Construindo modelo 2 - Arvore de Decisao

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(X_train, Y_train)
y_pred = dt.predict(X_test)
cm = confusion_matrix(Y_test, y_pred)
print(cm)

In [ ]:
acc = accuracy_score(Y_test, y_pred)
print("TreeClassifier Acc : ", acc)

In [ ]:
fig = plt.figure(figsize=(75,60))
_ = tree.plot_tree(dt, feature_names=X_train.columns)